.headSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header{
    display:flex;
    color:#AAA;
  }
  #head{
    color:#313131;
  }
  .search{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .search-input{
    width: 90%;
    height: 50px;
    font-size: 18px;
    color: #504f4f;
    background-color: #efefef;
    border: none;
    padding: 15px 30px;
    border-radius: 100px;
    margin-right: -50px;
  }
  .search-input:focus
  {
    outline: none;
    width: 100%;
    background-color: #f0eeee;
  }
  .search__button
  {
    border: none;
    background-color: #efefef;
    cursor: pointer;

  }
  .search__button:active{
    transform: translateY(2px);
  }
  .search__icon{
    font-size: 25px;
    color: #999;
  }
  .container{
      width:20rem;
      height: 34rem;
      box-shadow: 3px 3px 10px 10px  rgba(50,50,50,0.1);
      border-radius:0.5rem;
      overflow:hidden;  
      margin: 60px;
      display: inline-flex;
      flex-direction: column;
    }
    .details{
      font-weight:bold;
    }
    .flag{
      max-width:100%;
      max-height:15rem;
    }
    .info{
      padding:10px;
    }